[class^="browser-"],
[class*=" browser-"] {
    display: none;
    min-height: 250px;
    width: 100%;
    margin: auto;
    padding-bottom: 3rem;

    &.active {
        display: block;
    }

    &:before {
        font-family: fontello;
        content: "\f268";
        font-size: 30rem;
        position: absolute;
        right: 50px;
        opacity: .05;
        margin-top: -10rem;
        z-index: 1;

        @include grid-media($grid--tablet) {
            font-size: 20rem;
            margin-top: 0;
        }

        @include grid-media($grid--mobile) {
            font-size: 15rem;
            right: 0;
            margin-top: 5rem;
        }
    }

    [class^="os-"],
    [class*=" os-"] {
        display: none;

        &.active {
            display: block;
        }

        div {
            text-align: center;
            line-height: 2rem;
            padding-top: 2rem;
        }
    }
}

.browser {
    font-family: fontello;
    content: "\f268";
    font-size: 30rem;
    position: absolute;
    right: 50px;
    opacity: .05;
    margin-top: -10rem;

    &-twitter:before {
        content: '\f099';
    }

    &-github:before {
        content: '\f09b';
    }

    &-apple:before {
        content: '\f179';
    }

    &-windows:before {
        content: '\f17a';
    }

    &-linux:before {
        content: '\f17c';
    }

    &-safari:before {
        content: '\f267';
    }

    &-chrome:before {
        content: '\f268';
    }

    &-firefox:before {
        content: '\f269';
    }

    &-opera:before {
        content: '\f26a';
    }

    &-internet-explorer:before {
        content: '\f26b';
    }

    &-microsoft-edge:before {
        content: '\f282';
    }
}

kbd {
    position: relative;
    z-index: 100;
}
