.fl {
    display: none;

    &.about {
        width: 500px;
        max-width: 100%;
        height: 200px;
        max-height: 90vh;
        overflow-y: scroll;
    }
}

.featherlight {

    &-close-icon {
        @include transition();
        font-size: 2rem;

        &:hover {
            color: $coral;
        }
    }

    &-content {
        max-width: 90%;
    }
}
