.nav {
    &-browser {
        text-align: center;

        a {
            @include transition(all);
            text-decoration: none;
            color: $bean;
            font-size: 3.5rem;
            z-index: 100;
            position: relative;

            &:hover {
                color: $coral;
            }

            &.active {
                color: $silver;
            }

            @include grid-media($grid--mobile) {
                font-size: 2rem;
                margin: 0 0.2rem;
            }
        }
    }

    &-os {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: block;

        a {
            @include transition(all);
            text-decoration: none;
            background: $silver;
            color: $mystic;
            font-size: 1.5rem;
            text-align: center;
            border-radius: 100%;
            padding: 0.25rem;
            margin: 1rem;
            border: solid 1px $silver;
            position: relative;
            z-index: 100;

            &:hover {
                background: $mystic;
                color: $coral;
                border: solid 1px $coral;
            }

            &.active {
                border: solid 1px $coral;
                background: $coral;

                &:hover {
                    color: $mystic;
                }
            }

            @include grid-media($grid--mobile) {
                font-size: 1.25rem;
                margin: 0.75rem;
            }
        }
    }
}
