html,
body {
    margin: 0;
    padding: 0;
    background-color: $bean;
}

body {
    border-top: solid 5px $coral;
}

header,
section {
    background-color: $mystic;
}

.hidden {
    display: none;
}
