// Utility Colors
$black:         #000000;
$near-black:    #222222;
$white:         #FFFFFF;
$gray:          #EFEFEF;


// Palette
$mystic:        #EDF2F4;
$silver:        #A9A9A9;
$bean:          #247ba0;
$coral:         #FF3B3F;


// Site Fonts
$primary_font:  'Noto Sans', sans-serif;
$secondary_font: 'Amatic SC', cursive;
