footer {
    background: $bean;
    color: $white;
    padding: 2rem;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 1rem;
    z-index: 100;
    position: relative;

    @include grid-media($grid--mobile) {
        padding-bottom: 4rem;
    }

    svg {
        width: 90px;
        height: 30px;
        margin: 0 0 -10px 5px;

        path {
            @include transition(all);
            fill: $white;
        }

        &:hover {
            path {
                fill: $coral;
            }
        }
    }

    .copyright {
        font-size: 0.75rem;

        span:first-child {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            display: inline-block;
        }

        a {
            @include transition();
            color: $white;
            text-decoration: none;

            &:hover {
                color: $coral;
            }
        }
    }
}
